<p id="notice"><%= notice %></p>

<h1>Listing Bo Tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Tournament</th>
      <th>Bo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bo_tournaments.each do |bo_tournament| %>
      <tr>
        <td><%= bo_tournament.tournament %></td>
        <td><%= bo_tournament.bo %></td>
        <td><%= link_to 'Show', bo_tournament %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
