.navbar-brand {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;

  strong {
    color: $brand-primary;
    font-weight: 600;
  }

  i {
    color: $brand-primary;
    font-size: 20px;
  }
}

.navbar {
  span.glyphicon-left { padding-right: 8px; }
}

.jumbotron {
  background: asset-url('header.jpg') center center;
  border-bottom: 4px solid $brand-primary;
  height: 245px;
}

.main {
  border-top: 2px solid darken($brand-primary, 15%);
  padding: 60px 0 140px 0;
}

.page-header {
  margin-top: 15px;
  font-weight: 300;
  text-transform: uppercase;

  strong {
    color: $brand-primary;
    font-weight: 600;
  }
}

.footer {
  background-color: #333333;
  border-top: 4px solid $brand-primary;
  bottom: 0;
  position: absolute;
  padding: 20px 0;
  width: 100%;
}
